@model Model.ReceiveOrderModel
@{
                /**/

                ViewBag.Title = "Details";
                Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Detail Receive Order</h4>
        </div>
        @using (Html.BeginForm("Details", "ReceiveOrder", FormMethod.Post, new { id = "viewForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="modal-body">
                <div class="row  mrgn-b-lg">
                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <label>Receipt Number</label>
                        @*<input class="form-control" type="text" placeholder="First Name" name="FirstName" />*@
                        @Html.EditorFor(model => model.ReceiptNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Receipt Number" } })
                        @Html.ValidationMessageFor(model => model.ReceiptNumber, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <label>BuyeLimit</label>
                        @Html.DropDownListFor(m => m.PurchaseOrderId, null, "--Purchase Order", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PurchaseOrderId, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="row  mrgn-b-lg">
                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <label>Total Quantity</label>
                        @*<input class="form-control" type="text" placeholder="First Name" name="FirstName" />*@
                        @Html.EditorFor(model => model.TotalQuantity, new { htmlAttributes = new { @class = "form-control", placeholder = "Total Quantity" } })
                        @Html.ValidationMessageFor(model => model.TotalQuantity, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <label>Total Cost</label>
                        @*<input class="form-control" type="text" placeholder="First Name" name="FirstName" />*@
                        @Html.EditorFor(model => model.TotalCost, new { htmlAttributes = new { @class = "form-control", placeholder = "Total Cost" } })
                        @Html.ValidationMessageFor(model => model.TotalCost, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="row  mrgn-b-lg">
                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <label>Total VAT</label>
                        @*<input class="form-control" type="text" placeholder="First Name" name="FirstName" />*@
                        @Html.EditorFor(model => model.TotalVAT, new { htmlAttributes = new { @class = "form-control", placeholder = "Total VAT" } })
                        @Html.ValidationMessageFor(model => model.TotalVAT, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <label>Supplier Invoice</label>
                        @*<input class="form-control" type="text" placeholder="First Name" name="FirstName" />*@
                        @Html.EditorFor(model => model.SupplierInvoice, new { htmlAttributes = new { @class = "form-control", placeholder = "Supplier Invoice" } })
                        @Html.ValidationMessageFor(model => model.SupplierInvoice, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="row  mrgn-b-lg">
                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <label>Receipt Date</label>
                        @*<input class="form-control" type="text" placeholder="First Name" name="FirstName" />*@
                        @Html.EditorFor(model => model.ReceiptDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Receipt Date" } })
                        @Html.ValidationMessageFor(model => model.ReceiptDate, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <label>Receipt Status</label>
                        @*<input class="form-control" type="text" placeholder="First Name" name="FirstName" />*@
                        @Html.EditorFor(model => model.ReceiptStatusId, new { htmlAttributes = new { @class = "form-control", placeholder = "Receipt Status" } })
                        @Html.ValidationMessageFor(model => model.ReceiptStatusId, "", new { @class = "text-danger" })

                    </div>

                </div>
                <input data-val="true"
                       data-val-number="The field StudentId must be a number."
                       data-val-required="The StudentId field is required."
                       id="IsActive"
                       name="IsActive"
                       type="hidden"
                       value="true" />

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-outline-inverse">Close</button>
            </div>

        }

    </div>
</div>
<script>

    $("#viewForm").find("input").attr("disabled", true);
    $("#viewForm").find("select").attr("disabled", true);
    $("#viewForm").find("textArea").attr("disabled", true);
    $("#viewForm").find(".popup-savebtn").hide();

</script>



