@model Model.CartonManagementReportModel

@{
    ViewBag.Title = "_Index1";
    Layout = null;
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12">
        <div class="forms">
            <div class="row">
                <div class="prtm-block-content mrgn-b-md">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Distribution Summery</th>
                                    <th>Total Item</th>
                                    
                                    <th>Branch Name</th>
                                   
                                    <th>Packing Date</th>
                                    @*<th>Stock Distribution Summary Number </th>*@
                                </tr>
                            </thead>
                            <tbody class="tbodyIndex" id="table">
                                @if (Model.CartonManagement.Count != 0) { 
                                foreach (var item in Model.CartonManagement)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StockDistributionSummary.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalItems)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Branch.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PackDate)
                                    </td>
                                   
                                   
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.CartonManagement.StockDistributionSummary.DistributionNumber)
                                    </td>*@
                                </tr>
                                    }
                                
                                }else
                                {
                                <tr>
                                    <td colspan="7">
                                        <p>No record found</p>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="col-md-12">
    @if (ViewBag.endPage > 1)
    {
        <div class="pagination">

            @if (ViewBag.CurrentPage > 1)
            {
                <li>
                    <a href="/Admin/CartonManagementReport/_Index1?page=1">First</a>
                </li>
                <li>
                    <a href="/Admin/CartonManagementReport/_Index1?page=@(ViewBag.CurrentPage - 1)">Previous</a>
                </li>
            }
            @foreach (var i in ViewBag.result)
            {

                var page = i;

                <li class="@(page == ViewBag.CurrentPage ? "active" : "")">
                    <a href="/Admin/CartonManagementReport/_Index1?page=@page">@page</a>
                </li>

            }
            @if (ViewBag.CurrentPage < ViewBag.totalPages)
            {
                <li>
                    <a href="/Admin/CartonManagementReport/_Index1?page=@(ViewBag.CurrentPage + 1)">Next</a>
                </li>
                <li>
                    <a href="/Admin/CartonManagementReport/_Index1?page=@(ViewBag.totalPages)">Last</a>
                </li>
            }

        </div>
    }
</div>

