

@model List<Model.Report.OutstandingPurchaseOrderReport>

<div class="prtm-full-block pos-relative">
    <div class="prtm-block-title pad-all-md">
        <div class="pos-relative">
            <div class="caption">
                @*<h5>ProductSKU: @product.ProductSKU</h5>
                    <h5>StyleSKU: @product.StyleSKU</h5>
                    <h4>@Model.Sum(x => x.Quantity)</h4>*@

            </div>
            @*<button type="button" onclick="getFilterData()">Search</button>*@
        </div>
    </div>
    <div class="prtm-block-content mrgn-b-md">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Order Number</th>
                        <th>Supplier</th>
                    </tr>
                </thead>
                <tbody class="tbodyIndex">
                    @if (Model.Count != 0)
                    {
                        foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PurchaseOrderNumber)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Supplier)
                        </td>




                        @*<td style="min-width:85px;">

            <i class="fa fa-pencil edit-form edit" data-toggle="modal" data-backdrop="static" data-target="#myModal" onclick="edit(@item.Id)"></i>
            &nbsp;
            <i class="fa fa-trash delete delete-form" data-toggle="modal" data-target="#myModal" data-backdrop="static" onclick="del(@item.Id)"></i>
            &nbsp;
            <i class="fa fa-eye view-form details" data-toggle="modal" data-backdrop="static" data-target="#myModal" onclick="details(@item.Id)"></i>

        </td>*@
                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7">
                                <p>No record found.</p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>





