@model List<Model.StockDistributionModel>
<div class="row marg-btn-20">
    <div class="col-sm-12 col-md-12 col-xs-12">
        <div class="forms">
			<h3>Stock Distribution Data</h3>
            <div class="row marg-btn-20">
                <div class="prtm-block-content mrgn-b-md">
                    <div class="table-responsive">
                        <table class="table table-hover">

                            <thead>
                                <tr>
                                    <th>Branch Name</th>
                                    <th>Product SKU</th>
                                    <th>Style SKU</th>
                                    <th>Color Code</th>
                                    <th>Distribution Date</th>
                                    <th>Quantity01</th>
                                    <th>Quantity02</th>
                                    <th>Quantity03</th>
                                    <th>Quantity04</th>
                                    <th>Quantity05</th>
                                    <th>Quantity06</th>
                                    <th>Quantity07</th>
                                    <th>Quantity08</th>
                                    <th>Quantity09</th>
                                    <th>Quantity10</th>
                                    <th>Quantity11</th>
                                    <th>Quantity12</th>
                                    <th>Quantity13</th>
                                    <th>Quantity14</th>
                                    <th>Quantity15</th>
                                    <th>Quantity16</th>
                                    <th>Quantity17</th>
                                    <th>Quantity18</th>
                                    <th>Quantity19</th>
                                    <th>Quantity20</th>
                                    <th>Quantity21</th>
                                    <th>Quantity22</th>
                                    <th>Quantity23</th>
                                    <th>Quantity24</th>
                                    <th>Quantity25</th>
                                    <th>Quantity26</th>
                                    <th>Quantity27</th>
                                    <th>Quantity28</th>
                                    <th>Quantity29</th>

                                    <th>Quantity30</th>
                                </tr>
                            </thead>
                            <tbody class="tbodyIndex">
								@if (Model.Count != 0)
								{
                                foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Branch.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Product.ProductSKU)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Product.StyleSKU)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Product.Color.Code)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DistributionDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity01)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity02)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity03)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity04)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity05)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity06)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity07)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity08)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity09)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity10)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity11)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity12)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity13)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity14)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity15)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity16)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity17)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity18)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity19)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity20)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity21)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity22)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity23)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity24)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity25)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity26)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity27)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity28)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity29)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity30)
                                    </td>
                                </tr>
                                }
								}
								else
								{
								<tr>
									<td colspan="7">
										<p>No record found.</p>
									</td>
								</tr>
								}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>