
@model List<Model.MarkDownModel>
<div id="id1" class="table-style">
    <div class="modal-body">
        <div class="row  mrgn-b-lg">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <div class="forms">
                    <div class="prtm-block-content mrgn-b-md">
                        <div class="table-responsive">
                            <div class="table-responsive" style="height:270px;">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
											<th>ProductSKU </th>
											<th>Style SKU</th>
											<th>Original Price</th>
											<th>New Price</th>
											<th>Branches</th>
											<th>Effective Date</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbodyIndex" id="table1">
                                        @foreach (var item in Model)
                                        {
                                            <tr>
												<td>
													@Html.DisplayFor(modelItem => item.ProductSKU)
												</td>
												<td>
													@Html.DisplayFor(modelItem => item.StyleSKU)
												</td>
												<td>
													@Html.DisplayFor(modelItem => item.OriginalSellingPrice)
												</td>
												<td>
													@Html.DisplayFor(modelItem => item.NewSellingPrice)
												</td>
												
												<td>
													@Html.DisplayFor(modelItem => item.Branches)
												</td>
												<td>
													@Html.DisplayFor(modelItem => item.EffectiveDate)
												</td>
												@*<td>
			@Html.DisplayFor(modelItem => item.MarkDownBranches)
		</td>*@

												@*<td>
			@Html.DisplayFor(modelItem => item.PercentageDecrease)
		</td>*@

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
