
@model List<Model.CartonManagementModel>
<div class="table-style">
    <div class="prtm-full-block pos-relative">
        <div class="prtm-block-title pad-all-md">
            <div class="pos-relative">
                <div class="caption">
                    <h3 class="text-capitalize">IBT Carton Report</h3>
                </div>
            </div>
        </div>
        <div class="prtm-block-content mrgn-b-md">
            <div class="table-responsive">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>IBT Number</th>
                            <th>Branch Name</th>
                            <th>Carton Number</th>
                            <th>Total Items</th>
                            <th>Pack Date</th>
                            <th>Pack Slip</th>
                            <th>Dispatched</th>
                            <th>Add</th>
                        </tr>
                    </thead>
                    <tbody class="tbodyIndex">
                        @if (Model.Count != 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IBTNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Branch.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CartonNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalItems)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PackDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DistributionSummaryID)
                                    </td>
                                    <td id="tdApproveUser" data-id="@item.Id" class="account-table-btns approved">
                                        @if (item.IsDispatched == true)
                                        {
                                            <Span>Dispatched</Span>
                                        }
                                        else
                                        {
                                            <Span>Not Dispatched</Span>
                                        }
                                    </td>
                                    <td><i class="fa fa-chevron-down accordian-btn" data-toggle="collapse" onclick="showReceipt(@item.Id)" aria-hidden="true"></i></td>
                                </tr>
                                    <tr>
                                        <td colspan="9">
                                            <div class="table-responsive accordian-bundling" style="display:none;" id="@item.Id">
                                                <table class="table table-hover bundle-ppoup-table">
                                                    <thead>
                                                        <tr>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody id="ReceiptDetail-@item.Id"></tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7">
                                    <p>No results found.</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    @if (ViewBag.endPage > 1)
    {
        <div class="pagination">

            @if (ViewBag.CurrentPage > 1)
            {
                <li>
                    <a href="/Admin/IBTCartonReport/_Index1?page=1">First</a>
                </li>
                <li>
                    <a href="/Admin/IBTCartonReport/_Index1?page=@(ViewBag.CurrentPage - 1)">Previous</a>
                </li>
            }
            @foreach (var i in ViewBag.result)
            {

                var page = i;

                <li class="@(page == ViewBag.CurrentPage ? "active" : "")">
                    <a href="/Admin/IBTCartonReport/_Index1?page=@page">@page</a>
                </li>

            }
            @if (ViewBag.CurrentPage < ViewBag.totalPages)
            {
                <li>
                    <a href="/Admin/IBTCartonReport/_Index1?page=@(ViewBag.CurrentPage + 1)">Next</a>
                </li>
                <li>
                    <a href="/Admin/IBTCartonReport/_Index1?page=@(ViewBag.totalPages)">Last</a>
                </li>
            }

        </div>
    }
</div>
