@model Model.PromotionalDiscountModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<style>
    .radio-container {
        box-sizing: border-box;
        font-family: ‘Open Sans’, sans-serif;
        font-size: 13px;
        line-height: 30px;
        margin: 0;
        outline: 0;
        overflow: hidden;
        padding: 0;
    }

        .radio-container input {
            box-sizing: border-box;
            margin: 0;
            outline: 0;
            padding: 0;
            position: relative;
            top: 9px;
            vertical-align: top;
        }
</style>
<div class="table-style mt-15">
    <div class="prtm-full-block pos-relative col-md-4 padding-section">
        <div class="prtm-block-title pad-all-md ">
            <div class="pos-relative">
                <div class="caption">
                    <h3 class="text-capitalize">Discount</h3>
                </div>
            </div>
        </div>
        <div class="prtm-block-content mrgn-b-md ">
            <div class="table-responsive" style="height:248px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Branch</th>
                            <th>Store</th>
                            <th>Transit</th>
                        </tr>
                    </thead>
                    <tbody class="tbodyIndex">
                        @foreach (var item in Model.BranchList1)
                        {
                            <tr class="dataRow">
                                <td>
                                    <input type="checkbox" name="selectedBranch" class="branches" value="@item.Id">

                                    @Html.DisplayFor(modelItem => item.BranchCode)
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.StoreSize)</td>
                                <td>@Html.DisplayFor(modelItem => item.StoreSize)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-inverse cancel" id="select-all">All</button>
            <button type="button" class="btn btn-outline-inverse cancel" id="select-none">None</button>
        </div>
    </div>
    <div class="prtm-full-block pos-relative col-md-8 branch-right-section min-heigh-branch">
        <div class="partial-render">
            @Html.Action("Create")
        </div>
    </div>
</div>
<div class="dvCartonDetails" style="width:100%;float:left;">
</div>

<div class="modal fade" id="myModal">
    <div id="dvCreatedetails">
    </div>
    <div class="row" id="dvCreatedetails001" style="margin:0px;">
    </div>
</div>
@section scripts{
    <script type="text/javascript">
            function Clear1(){
                debugger;
                window.location.reload();
        }
        $(document).ready(function () {
            debugger
            var ProductSKUList = {};
            $("#FromProductSKU").autocomplete({
                source: function (request, response) {
                    debugger
                    $.ajax({
                        url: "/Admin/MarkDownBranch/AutoCompleteProductSKUList",
                        type: "GET",
                        data: { name: request.term },
                        success: function (result) {
                            debugger
                            ProductSKUList = $.map(result, function (value, key) { return { value: value.Id, label: value }; });
                            response(ProductSKUList);

                        },
                        error: function (xhr, status) {
                            alert(status)
                        }
                    });
                },
                select: function (event, ui) {
                    debugger
                    event.preventDefault();
                    $("#FromProductSKU").val(ui.item.label);
                    $("#FromProductSKU").val(ui.item.value);
                },
                minLength: 1
            });
        })
        $(document).ready(function () {
            debugger
            var ProductSKUList = {};
            $("#ToProductSKU").autocomplete({
                source: function (request, response) {
                    debugger
                    $.ajax({
                        url: "/Admin/MarkDownBranch/AutoCompleteProductSKUList",
                        type: "GET",
                        data: { name: request.term },
                        success: function (result) {
                            debugger
                            ProductSKUList = $.map(result, function (value, key) { return { value: value.Id, label: value }; });
                            response(ProductSKUList);

                        },
                        error: function (xhr, status) {
                            alert(status)
                        }
                    });
                },
                select: function (event, ui) {
                    debugger
                    event.preventDefault();
                    $("#ToProductSKU").val(ui.item.label);
                    $("#ToProductSKU").val(ui.item.value);
                },
                minLength: 1
            });
        })
        $(document).ready(function () {
            debugger
            var StyleSKUList = {};
            $("#FromStyleSKU").autocomplete({
                source: function (request, response) {
                    debugger
                    $.ajax({
                        url: "/Admin/Discount/AutoCompleteStyleSKUList",
                        type: "GET",
                        data: { name: request.term },
                        success: function (result) {
                            debugger
                            StyleSKUList = $.map(result, function (value, key) { return { value: value.Id, label: value }; });
                            response(StyleSKUList);

                        },
                        error: function (xhr, status) {
                            alert(status)
                        }
                    });
                },
                select: function (event, ui) {
                    debugger
                    event.preventDefault();
                    $("#FromStyleSKU").val(ui.item.label);
                    $("#FromStyleSKU").val(ui.item.value);
                },
                minLength: 1
            });
        })
        $(document).ready(function () {
            debugger
            var StyleSKUList = {};
            $("#ToStyleSKU").autocomplete({
                source: function (request, response) {
                    debugger
                    $.ajax({
                        url: "/Admin/Discount/AutoCompleteStyleSKUList",
                        type: "GET",
                        data: { name: request.term },
                        success: function (result) {
                            debugger
                            StyleSKUList = $.map(result, function (value, key) { return { value: value.Id, label: value }; });
                            response(StyleSKUList);

                        },
                        error: function (xhr, status) {
                            alert(status)
                        }
                    });
                },
                select: function (event, ui) {
                    debugger
                    event.preventDefault();
                    $("#ToStyleSKU").val(ui.item.label);
                    $("#ToStyleSKU").val(ui.item.value);
                },
                minLength: 1
            });
        })
        function Submit() {
            debugger
            $('form').validate();
            var obj = {};
            obj.Discounts = {};
            obj.BranchList = [];
            obj.FromProductSKU = $("#FromProductSKU").val(),
                obj.FromStyleSKU = $("#FromStyleSKU").val(),
                 obj.ToProductSKU = $("#ToProductSKU").val(),
                obj.ToStyleSKU = $("#ToStyleSKU").val(),
              obj.FromPrice=$("#FromPrice").val(),
            obj.ToPrice=$("#ToPrice").val(),
            obj.FromDate=$("#FromDate").val(),
            obj.ToDate=$("#ToDate").val(),
            obj.DiscountValue=$("#DiscountValue").val(),
            obj.DiscountType=$("#DiscountType").val(),
                obj.IsActive = true
            if ($('input:checked[name=selectedBranch]').length <= 0) {
                alert('select atleast one branch !')
            }
            else {
                $('input:checked[name=selectedBranch]').each(function () {
                    if ($(this).is(':checked'))
                        obj.BranchList.push($(this).val());
                });
                if ($('form').valid()) {
                    $.ajax({
                        type: "POST", //HTTP POST Method
                        url: '/Admin/Discount/Create',
                        data: obj,
                        success: function (result) {
                            // alert(result.Id);
                            loadData(result.Id);
                        },
                        error: function (xhr, status) {

                        }
                    });
                }
            }
        }

        function loadData(id) {
            debugger;
            $.ajax({
                url: '/Admin/Discount/Detail/'+id,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: 'html',
                success: function (result) {
                    $('.dvCartonDetails').html(result);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        $('#select-all').click(function (event) {
            debugger
            $('.branches:checkbox').each(function () {
                this.checked = true;
            });

        });
        function selectAll(){
            debugger
            $('.products:checkbox').each(function () {
                this.checked = true;
            });
        }
        $('#select-none').click(function (event) {
            debugger
            $('.branches:checkbox').each(function () {
                this.checked = false;
            });
            });
            $('#allSelect').click(function (event) {
                debugger
                $('.branches:checkbox').each(function () {
                    this.checked = true;
                });
            });
           function NoneSelect(){
                debugger
                $('.products:checkbox').each(function () {
                    this.checked = false;
                });
            }
            function History() {
                debugger;
                $.ajax({
                    url: '/Admin/Discount/History',
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    dataType: 'html',
                    success: function (result) {
                        $('.dvCartonDetails').html(result);
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
           $(function () {
            var date = new Date();
            var currentMonth = date.getMonth();
            var currentDate = date.getDate();
            var currentYear = date.getFullYear();
            $('.date-picker').datepicker({
                minDate: new Date(currentYear, currentMonth, currentDate),
                dateFormat: 'yy-mm-dd'
            });
        })
           function showReceipt(id) {
            debugger
            //  alert(id);
            $("#ReceiptDetail-" + id).html('<tr><td colspan = "5" style="background-color:white;"><img src="/Image/bars.gif" style="width:55px; height:47px;margin-left:40%; z-index:200" /></td></tr>');
            $.ajax(
                {
                    url: '/Admin/Discount/GetReceiptById/' + id,
                    type: "GET",
                    success: function (result) {
                        debugger
                        $("#ReceiptDetail-" + id).html(result);
                        // alert("dgfhdf");
                    },
                    error: function (xhr, status) {
                        alert(status)
                    }
                });
        }
        $(document).on('click', ".accordian-btn", function () {
            $(this).toggleClass("accordian-reverse");
            $(this).parent().parent().next().find(".accordian-bundling").toggle(500);
        });
            function Allow(){
            debugger
            $('form').validate();
            var obj = {};
             obj.BranchList = [];
            obj.ProductList=[];
            $('input:checked[name=selectedBranch]').each(function () {
                    if ($(this).is(':checked'))
                        obj.BranchList.push($(this).val());
                });
            $('input:checked[name=selectedProduct]').each(function () {
                    if ($(this).is(':checked'))
                        obj.ProductList.push($(this).val());
                });
            if ($('form').valid()) {
                    $.ajax({
                        type: "POST", //HTTP POST Method
                        url: '/Admin/Discount/Allow',
                        data: obj,
                        success: function (result) {
                        	window.location.reload();
                        }
                    });
                }
            }
            function deleteColor(id){
            debugger
             $.ajax({
                url: '/Admin/Discount/Delete/'+id,
                contentType: 'application/json; charse=utf-8',
                type: 'get',
                //data: Color,
                success: function (result) {
                    $('#dvCreatedetails001').html(result);
                },
                error: function (xhr, status) {
                    alert(status)
                }
            });
            }
    </script>
}

<style>
    .ui-widget-content.ui-autocomplete {
        z-index: 9999 !important;
    }
</style>

