@model Model.PurchaseOrderItemModel
@{
    Layout = null;
}
<td>
    <ul>
        <ol><b>01:</b>@Html.DisplayFor(modelItem => Model.QuantitySize1)</ol>
        <ol><b>02:</b>@Html.DisplayFor(modelItem => Model.QuantitySize2)</ol>
        <ol><b>03:</b>@Html.DisplayFor(modelItem => Model.QuantitySize3)</ol>
    </ul>
</td>
<td>
    <ul>
        <ol><b>04:</b>@Html.DisplayFor(modelItem => Model.QuantitySize4)</ol>
        <ol><b>05:</b>@Html.DisplayFor(modelItem => Model.QuantitySize5)</ol>
        <ol><b>06:</b>@Html.DisplayFor(modelItem => Model.QuantitySize6)</ol>
    </ul>
</td>
<td>
    <ul>
        <ol><b>07:</b>@Html.DisplayFor(modelItem => Model.QuantitySize7)</ol>
        <ol><b>08:</b>@Html.DisplayFor(modelItem => Model.QuantitySize8)</ol>
        <ol><b>09:</b>@Html.DisplayFor(modelItem => Model.QuantitySize9)</ol>
    </ul>
</td>
<td>
    <ul>
        <ol><b>10:</b>@Html.DisplayFor(modelItem => Model.QuantitySize10)</ol>
        <ol><b>11:</b>@Html.DisplayFor(modelItem => Model.QuantitySize11)</ol>
        <ol><b>12:</b>@Html.DisplayFor(modelItem => Model.QuantitySize12)</ol>
    </ul>
</td>
<td>
    <ul>
        <ol><b>13:</b>@Html.DisplayFor(modelItem => Model.QuantitySize13)</ol>
        <ol><b>14:</b>@Html.DisplayFor(modelItem => Model.QuantitySize14)</ol>
        <ol><b>15:</b>@Html.DisplayFor(modelItem => Model.QuantitySize15)</ol>
    </ul>
</td>
<td>
    <ul>
        <ol><b>16:</b>@Html.DisplayFor(modelItem => Model.QuantitySize16)</ol>
        <ol><b>17:</b>@Html.DisplayFor(modelItem => Model.QuantitySize17)</ol>
        <ol><b>18:</b>@Html.DisplayFor(modelItem => Model.QuantitySize18)</ol>
    </ul>
</td>
<td>
    <ul>
        <ol><b>19:</b>@Html.DisplayFor(modelItem => Model.QuantitySize19)</ol>
        <ol><b>20:</b>@Html.DisplayFor(modelItem => Model.QuantitySize20)</ol>
        <ol><b>21:</b>@Html.DisplayFor(modelItem => Model.QuantitySize21)</ol>
    </ul>
</td>
<td>
    <ul>
        <ol><b>22:</b>@Html.DisplayFor(modelItem => Model.QuantitySize22)</ol>
        <ol><b>23:</b>@Html.DisplayFor(modelItem => Model.QuantitySize23)</ol>
        <ol><b>24:</b>@Html.DisplayFor(modelItem => Model.QuantitySize24)</ol>
    </ul>
</td>
<td>
    <ul>
        <ol><b>25:</b>@Html.DisplayFor(modelItem => Model.QuantitySize25)</ol>
        <ol><b>26:</b>@Html.DisplayFor(modelItem => Model.QuantitySize26)</ol>
        <ol><b>27:</b>@Html.DisplayFor(modelItem => Model.QuantitySize27)</ol>
    </ul>
</td>
<td>
    <ul>
        <ol><b>28:</b>@Html.DisplayFor(modelItem => Model.QuantitySize28)</ol>
        <ol><b>29:</b>@Html.DisplayFor(modelItem => Model.QuantitySize29)</ol>
        <ol><b>30:</b>@Html.DisplayFor(modelItem => Model.QuantitySize30)</ol>
    </ul>
</td>