@model Model.ReceiptOrderItemModel
@{

    Layout = null;
}
<td>
    <ul>
        <ol><b>01:</b>@Html.DisplayFor(modelItem => Model.Quantity01)</ol>
        <ol><b>02:</b>@Html.DisplayFor(modelItem => Model.Quantity02)</ol>
        <ol><b>03:</b>@Html.DisplayFor(modelItem => Model.Quantity03)</ol>
    </ul>
</td>
<td>
    <ul>
        <ol><b>04:</b>@Html.DisplayFor(modelItem => Model.Quantity04)</ol>
        <ol><b>05:</b>@Html.DisplayFor(modelItem => Model.Quantity05)</ol>
        <ol><b>06:</b>@Html.DisplayFor(modelItem => Model.Quantity06)</ol>
    </ul>
</td>
<td>
    <ul>
        <ol><b>07:</b>@Html.DisplayFor(modelItem => Model.Quantity07)</ol>
        <ol><b>08:</b>@Html.DisplayFor(modelItem => Model.Quantity08)</ol>
        <ol><b>09:</b>@Html.DisplayFor(modelItem => Model.Quantity09)</ol>
    </ul>
</td>
<td>
    <ul>
        <ol><b>10:</b>@Html.DisplayFor(modelItem => Model.Quantity10)</ol>
        <ol><b>11:</b>@Html.DisplayFor(modelItem => Model.Quantity11)</ol>
        <ol><b>12:</b>@Html.DisplayFor(modelItem => Model.Quantity12)</ol>
    </ul>
</td>
<td>
    <ul>
        <ol><b>13:</b>@Html.DisplayFor(modelItem => Model.Quantity13)</ol>
        <ol><b>14:</b>@Html.DisplayFor(modelItem => Model.Quantity14)</ol>
        <ol><b>15:</b>@Html.DisplayFor(modelItem => Model.Quantity15)</ol>
    </ul>
</td>
<td>
    <ul>
        <ol><b>16:</b>@Html.DisplayFor(modelItem => Model.Quantity16)</ol>
        <ol><b>17:</b>@Html.DisplayFor(modelItem => Model.Quantity17)</ol>
        <ol><b>18:</b>@Html.DisplayFor(modelItem => Model.Quantity18)</ol>
    </ul>
</td>
<td>
    <ul>
        <ol><b>19:</b>@Html.DisplayFor(modelItem => Model.Quantity19)</ol>
        <ol><b>20:</b>@Html.DisplayFor(modelItem => Model.Quantity20)</ol>
        <ol><b>21:</b>@Html.DisplayFor(modelItem => Model.Quantity21)</ol>
    </ul>
</td>
<td>
    <ul>
        <ol><b>22:</b>@Html.DisplayFor(modelItem => Model.Quantity22)</ol>
        <ol><b>23:</b>@Html.DisplayFor(modelItem => Model.Quantity23)</ol>
        <ol><b>24:</b>@Html.DisplayFor(modelItem => Model.Quantity24)</ol>
    </ul>
</td>
<td>
    <ul>
        <ol><b>25:</b>@Html.DisplayFor(modelItem => Model.Quantity25)</ol>
        <ol><b>26:</b>@Html.DisplayFor(modelItem => Model.Quantity26)</ol>
        <ol><b>27:</b>@Html.DisplayFor(modelItem => Model.Quantity27)</ol>
    </ul>
</td>
<td>
    <ul>
        <ol><b>28:</b>@Html.DisplayFor(modelItem => Model.Quantity28)</ol>
        <ol><b>29:</b>@Html.DisplayFor(modelItem => Model.Quantity29)</ol>
        <ol><b>30:</b>@Html.DisplayFor(modelItem => Model.Quantity30)</ol>
    </ul>
</td>

