@model List<Model.StockBranchInventoryModel>
@{
    var item = ViewBag.Warehouse as Model.StockInventoryModel;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">View Stock</h4>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product SKU</th>
                            <th>Style SKU</th>
                            <th>Branch </th>
                            <th>01</th>
                            <th>02</th>
                            <th>03</th>
                            <th>04</th>
                            <th>05</th>
                            <th>06</th>
                            <th>07</th>
                            <th>08</th>
                            <th>09</th>
                            <th>10</th>
                            <th>11</th>
                            <th>12</th>
                            <th>13</th>
                            <th>14</th>
                            <th>15</th>
                            <th>16</th>
                            <th>17</th>
                            <th>18</th>
                            <th>19</th>
                            <th>20</th>
                            <th>21</th>
                            <th>22</th>
                            <th>23</th>
                            <th>24</th>
                            <th>25</th>
                            <th>26</th>
                            <th>27</th>
                            <th>28</th>
                            <th>29</th>
                            <th>30</th>
                        </tr>
                    </thead>
                    <tbody class="tbodyIndex">
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Product.ProductSKU)</td>
                            <td>@Html.DisplayFor(modelItem => item.Product.StyleSKU)</td>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity01)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity02)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity03)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity04)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity05)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity06)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity07)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity08)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity09)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity10)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity11)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity12)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity13)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity14)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity15)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity16)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity17)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity18)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity19)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity20)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity21)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity22)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity23)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity24)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity25)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity26)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity27)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity28)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity29)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity30)</td>
                        </tr>
                        @if (Model.Count != 0)
                        {
                            foreach (var item2 in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item2.Product.ProductSKU)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Product.StyleSKU)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Branch.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity01)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity02)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity03)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity04)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity05)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity06)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity07)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity08)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity09)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity10)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity11)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity12)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity13)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity14)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity15)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity16)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity17)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity18)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity19)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity20)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity21)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity22)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity23)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity24)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity25)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity26)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity27)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity28)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity29)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Quantity30)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7">
                                    <p>No record found.</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

</div>
