@model List<Model.StockBranchInventoryModel>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">View All Sales</h4>
        </div>
        <div class="table-style">
            <div class="prtm-block-content mrgn-b-md">
                @*<div class="table-responsive" style="height:270px;">*@
                <table class="table table-bordered sales-order-table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Date</th>
                            <th>Total</th>
                            <th>UnitsSold</th>
                            <th>%Sold </th>
                            <td>Total Sold</td>
                            <th>%Sold</th>
                        </tr>
                    </thead>
                    <tbody class="tbodyIndex">
                        @if (Model.Count > 0)
                        {
                            foreach (var item in ViewBag.WeeklyData)
                            {
                                <tr>
                                    <td>@item.WeekDate</td>
                                    <td>@item.TotalData</td>
                                    <td>@item.SoldData</td>
                                    <td>@item.percent</td>
                                    <td>@item.Totalsold</td>
                                    <td>@item.TotalPercent</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>No data found.</td>
                            </tr>
                        }
                    </tbody>
                    </tbody>
                </table>
                <table class="table table-bordered sales-order-table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Branch</th>
                            <th>AreaCode</th>
                            <th>Received </th>
                            <td>IBTOut</td>
                            <th>Sold</th>
                            <th>OnHand</th>
                            <th>%Sold</th>
                            <th>Date Rcvd</th>
                            <th>Date Last Sold</th>
                        </tr>
                    </thead>
                    <tbody class="tbodyIndex">
                        @foreach (var item in Model)
                        {
                            int? a = 0;
                            double? per = 0.0;
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Branch.BranchCode)@Html.DisplayFor(modelItem => item.Branch.Name)</td>
                                <td>01</td>
                                <td>@Html.DisplayFor(modelItem => item.ItemCount)</td>
                                <td>0</td>
                                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                                <td>
                                    @{
                                        a = item.ItemCount - item.Quantity;
                                    }<span>@a</span>
                                </td>
                                <td>
                                    @{
                                        per = (item.Quantity * 100) / item.ItemCount;
                                }<span>@per</span>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.UpdateTime)</td>
                            <td>@Html.DisplayFor(modelItem => item.LastSale)</td>
                        </tr>
                    }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>